          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Key</th>
                  <th>CPU Usage</th>
                  <th>Memory Usage</th>
                </tr>
              </thead>
              <tbody>
                {{#each instances}}
                <tr data-client-key="{{clientKey}}">
                  <td>{{name}}</td>
                  <td><a href="/instances/edit/{{clientKey}}">{{clientKey}}</a></td>
                  <td class="cpu-usage">-%</td>
                  <td class="memory-usage">-%</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>