          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="js/holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Searches</h4>
              <span class="text-muted">Searches/minute</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="js/holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Logins</h4>
              <span class="text-muted">Logins/minute</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="js/holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="js/holder.js/200x200/auto/lava" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Problems</h4>
              <span class="text-muted">Inactive OLA instances</span>
            </div>
          </div>

          <h2 class="sub-header">OLA Instances</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Key</th>
                  <th>Location</th>
                  <th>CPU Usage</th>
                  <th>Memory Usage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0547fa3b...</td>
                  <td>OLS Labs</td>
                  <td>14%</td>
                  <td>42%</td>
                </tr>
              </tbody>
            </table>
          </div>