          <div class="row">
            {{#if success}}
              <div class="alert alert-success">Successfully updated the instance named {{name}}</div>
            {{/if}}
            
            {{#if failure}}
              <div class="alert alert-danger">Something went wrong when updating the instance.</div>
            {{/if}}
            
            <form role="form" method="post">
              <div class="form-group">
                <label for="name">Instance name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter instance name" value="{{name}}">
              </div>
              <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Enter latitude in decimal form" value="{{latitude}}">
              </div>
              <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Enter longitude in decimal form" value="{{longitude}}">
              </div>
              <button type="submit" class="btn btn-default">Save</button>
            </form>
          </div>