<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">We need a map!</h1>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">Google maps not loaded</div>
  <div class="panel-body">
    Actually, we should use leaflet instead, can't really use google maps for a closed application (though we could possibly get around it since the source is available on github)
  </div>
</div>