<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">The url entered did not match any route</h1>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">What to do, what to do?</div>
  <div class="panel-body">
    Try going to the {{#link-to "index"}}dashboard{{/link-to}}, if that doesn't work then report this to your administrator so they can check the application logs.
  </div>
</div>